<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.游兮"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".ui.activity.PayResultActivity"
            android:exported="true"
            android:theme="@style/AppAnimationTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:path="/paysuccess"
                    android:scheme="youxi" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ReportHandleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ExceptionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CollectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.VerifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.NewOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MyOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DebugActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ProfileUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>